:root {
    --font: 18px;
}

*{
    font-family: var(--font-family);
    letter-spacing: 2px;
}

@keyframes visibility {
    from{
       transform: scale(0.4);
        opacity: 0.1;
        visibility: hidden;
    }
    to{
        transform: scale(1.0);
        opacity: 1.0;
        visibility: visible;
    }
}

.body{
    min-height: 500px;
    width: 600px;
    box-shadow: 2px 2px 100px 5px rgba(218, 179, 200, 0.349); ;
    border-radius: 20px;
    animation: visibility;
    animation-duration: 2s;
}

.body::before{
    display: flex;
    justify-content: center;
    content: 'Enter Your order';
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
    margin-bottom: 20px;
    padding-top: 20px;
}

/* input block */
.contact-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input:not(.submit-button){
    height: 40px;
    width: 250px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid rgb(171, 147, 147);
    padding: 20px;
    font-size: var(--font);
}
textarea{
    margin-top: 10px;
    border-radius: 10px;
    width: 400px;
    border: 1px solid rgb(171, 147, 147);
    padding: 20px;
    font-size: var(--font);
}
textarea:hover, input:not(.submit-button):hover,.select-category:hover, .select-product:hover{
    cursor: pointer;
    border: 1px solid rgba(130, 193, 216, 0.6);
}

input:not(.submit-button):focus, textarea:focus{
    border: none;
    outline: 3px solid rgb(130, 193, 216);
    background-color: rgba(240, 248, 255, 0.384);
}

p::after {
    display: block;
    color: var(--black);
    font-weight: bold;
    position: relative;
    top: 1px;
    left: 10px;
    font-size: 20px ;
    background: var(--header-footer-light);
}
p.name::after{
    content: 'Name*';
    width: 60px;
}
p.email::after{
    content: 'Email*';
    width: 65px;
}
p.number::after{
    content: 'Number';
    width: 75px;
}
p.amount::after{
    content: 'Amount* (kg)';
    width: 140px;
}
p.additional::after {
    content: 'If you have any additional wish, then add it below';
    display: inline;
    top: 5px;
}
p.date::after{
    content: 'Reciving an order*';
    top: -2px;
    margin-top: 10px;
}
p.category-selection::after{
    content: "Choose category*";
    top:15px
}
p.product-selection::after{
    content: "Choose product*";
    top: 15px;
}

/* selection menus*/
.selection{
    display: flex;
    flex-direction: column;
}

.select-category, .select-product{
    height: 40px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid rgb(171, 147, 147);
    font-weight: 600 ;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: rgba(245, 245, 220, 0.466);
    font-size: var(--font);
}


option{
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 20px;
    text-align: center; 
}

/* submit button */
.submit-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(var(--header-footer-dark),  var(--header-footer-light));
    height: 50px;
    width: 200px;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: var(--font);
    border: 1px solid rgb(171, 147, 147);
    transition: box-shadow 0.1s ease-out;
}
.submit-button:hover {
    cursor: pointer;
    text-decoration: underline;
    box-shadow: 0px 0px 10px 2px rgb(190, 177, 184);
}
.submit-button:active{
   transform: scale(0.9);
   background: linear-gradient(var(--header-footer-light),var(--header-footer-dark)  );
}

/* form hiding, if message is sent */
@keyframes hideMe {
    from {
        opacity: 1.0;
        visibility: visible;
    }
    to {
        opacity: 0.0;
        visibility: hidden;
    }
}
.hidden {
    animation-name: hideMe;
    animation-duration: 1s;
    visibility: hidden;
    animation-timing-function: ease-in;
}

/* success sending, feedback box */
@keyframes resultShow {
    from{
        opacity: 0;
    }
    to{
        opacity: 1.0;
    }
}
.success-result {
    text-align: center;
    padding: 15px;
    height: 200px;
    animation-name: resultShow;
    animation-duration: 2s;
    position:relative;
    bottom: 50%;
    background-color: rgb(235, 235, 235, 0.662);
    border-radius: 10px;
    font-size: 30px;
    font-weight: 500;
}

/* icon styling */
img{
    background-color: greenyellow;
    height: 60px;
    border-radius: 50%;
}

/* if required inputs arent filled */
.inputError{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin-top: 5px;
    color: red;
    font-size: var(--font);
}

/* laptop version */

@media screen and (max-width: 1024px) {
    .body{
        width: 440px;
    }
    textarea{
        width: 300px;
        height: 150px;
    }
}

/* tablet version */

@media screen and (max-width: 768px) {
    .body{
        width: 400px;
    }
}

/* mobile version */

@media screen and (max-width: 525px) {
    .body{
        width: 325px;
    }
    .body::before{
        font-size: 17px;
    }
    p::after{
        font-size: 15px;
    }
    input{
        height: 30px;
    }
    .submit-button{
        height: 45px;
        font-size: 15px;
        border-radius: 15px;
    }
    textarea{
        width: 270px;
        height: 150px;
    }
    option{
        text-align: center;
    }
    .success-result{
        position: relative;
        bottom:10%
    }
    @keyframes formOpening{
        from{
            transform: translate(0px, -275px) ;
            z-index: -1;
        }
        to{
            transform: translate(0px, 0px);
            z-index: 0;
        }

    }
    .body{
        animation: formOpening;
        animation-duration: 2s;
        animation-timing-function: ease-in;
    }
}