<body [class] = "hideForm">
    <form (submit)="onOrderSubmit($event)">
        <section class="contact-inputs">
            <section class="inputs">
                <p class="name"></p>
                <input type="text" name="name" [(ngModel)]="name" required minlength="3">
                <p class="email"></p>
                <input type="email" name="email" [(ngModel)]="email" required>
                <p class="number"></p>
                <input type="text" name="number" [(ngModel)]="number">
                <p class=""></p>

                <section class="selection">
                    <select name="categories" class="select-category" (change)="onLoadSelected($event.target)" [(ngModel)]="selCategory">
                        <option *ngFor="let c of category">{{c.name}}</option>
                    </select>

                    <select name="selection" class="select-product" *ngIf="isCategorySelected"  [(ngModel)]="selProduct">
                        <option name="selection" class="option" *ngFor="let any of cakePretzelRolls" value="">{{any.name}}</option>
                    </select>
                </section>
                <p class="amount"></p>
                <input type="text" name="amount" [(ngModel)]="amount" required="required">
                <p class="date"></p>
                <input type="date" name="date" [(ngModel)]="date">

            </section>
            <p class="additional"></p>
            <textarea name="info" id="" cols="30" rows="10" wrap="soft" required [(ngModel)]="info"></textarea>

            <p class="inputError" *ngIf="someFieldEmpty">
                Please fill all required fields!
            </p>
            <input type="submit" class="submit-button" [value]='sendStatus'>
        </section>
    </form>
</body>
<div *ngIf="hideForm" class="success-result">
    <p>Thanks!</p>
    <p>Your order has been sent successfully!</p>
    <i class="fa-solid fa-circle-check"></i>
</div>