<section class="product-container">
    <div class="image-container">
        <img [src]="description.imageUrl" alt="">
    </div>
    <div class="description-container">
        <p class="product-data title">{{description.name | titlecase}}</p>
        <p class="product-data">{{description.mainComponents | titlecase}}</p>
        <p class="product-data">{{ description.price }}</p>
        <img *ngIf= "description.lactoseFree" id="lactose" src= "../../assets/Icons/lactose-free.png" alt="Lactose Free">
        <img *ngIf= "description.glutenFree" id= "gluten" src="../../assets/Icons/gluten-free.png" alt="Gluten Free">
    </div>
</section>