<div class="feedback-div ">
    <carousel class="text-carousel" [objectFit]="'cover'" [cellWidth]="'100%'"   [arrows]="false" [autoplay]="true" [autoplayInterval]="5000"  [loop]="true" [transitionTimingFunction] = "'ease-in-out'" [pauseOnHover]="true">
        <div class="carousel-cell">
            <i class="fa-solid fa-quote-left"></i>
            <h4>Best cake I have ever tasted! Everything was beyond expectations. Buns were so soft and cake for our little boy for his birthday was just amazing!</h4>
            <h4> - Alina</h4>
        </div>
        <div class="carousel-cell">
            <i class="fa-solid fa-quote-left"></i>
            <h4>You are really doing YOUR thing! Bagel for Christmas was so moist and good! Everyone ate and praised. Thank You so much!</h4>
            <h4> - Paul</h4>
        </div>
        <div class="carousel-cell">
            <i class="fa-solid fa-quote-left"></i>
            <h4>I was so amazed that you have so good gluten and lactose free cakes! It is not easy to find so good choice of such cakes that tastes also very well. Ordering was also so quick and easy. Deffenitely we will order again when someones birthday is coming! </h4>
            <h4> - Thomas</h4>
        </div>
        <div class="carousel-cell">
            <i class="fa-solid fa-quote-left"></i>
            <h4>Really good pastry products! I order everytime I feel I'd like to have something fresh and tasty. Me as a regular client approve everything that I have tasted so far and looking for the new and amazing tastes that you offer every once a while! </h4>
            <h4> - Liina</h4>
        </div>
    </carousel>   
</div>
