<div class="feedback-div ">
    <carousel class="text-carousel" [objectFit]="'contain'" [cellWidth]="'100%'"   [arrows]="false" [autoplay]="true" [autoplayInterval]="5000"  [loop]="true" [transitionTimingFunction] = "'ease-in-out'" [pauseOnHover]="true">
        <div class="carousel-cell">
            <i class="fa-solid fa-quote-left"></i>
            <h4>Best cake I have ever tasted! Everything was beyond expectations. Buns were so soft and cake for our little boy's birthday was just amazing!</h4>
            <h4> - Alina</h4>
        </div>
        <div class="carousel-cell">
            <i class="fa-solid fa-quote-left"></i>
            <h4>You are really doing YOUR thing! Bagel for Christmas was so good and moist! Everyone ate and praised. Thank You so much!</h4>
            <h4> - Paul</h4>
        </div>
        <div class="carousel-cell">
            <i class="fa-solid fa-quote-left"></i>
            <h4>I was amazed that you have such good gluten and lactose free cakes! It is not easy to find such a large selection of cakes that taste good. Ordering was also so quick and easy. We will definitely order again when someone's birthday is coming! </h4>
            <h4> - Thomas</h4>
        </div>
        <div class="carousel-cell">
            <i class="fa-solid fa-quote-left"></i>
            <h4>Delicious pastries! I order every time I feel like having something fresh and tasty. I, as a regular client, approve of everything that I have tried so far. Looking forward to amazing new flavours that you offer every once in a while! </h4>
            <h4> - Liina</h4>
        </div>
    </carousel>   
</div>
