body{
    width: 100%;
    background: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)), url(../../assets/images/Background-cakes-color.png);
    position: relative;
    top: 0px;
    min-height: 100vh;
    margin-bottom: 0px;
}

.front-div {
    background-color: var(--header-footer-light);
    min-height: 100vh;
    margin: 0px 200px 0 200px;
    padding: 20px 70px 150px 70px;
    text-align: center;
    font-family: 'Indie Flower', sans-serif;
}

/* content before buttons */
.select-approach{
    font-family: 'Indie Flower', cursive;
    font-size: 28px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 40px;
    padding-top: 70px;
}
/* form positioning */
.form{
    display: flex;
    justify-content: center;
    position: relative;
    top:100px;
    
}
/* social media box positioning */
.social-media{
    display: flex;
    position: relative;
    left:10% ;
    width: 80%;
    right: 10%;
    min-height: 150px;
    flex-wrap: wrap;
    border-radius: 25px;
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.2);
    margin-top: 250px;
    flex-shrink: 2;
}
/* whole buttons section */
.selection-buttons{
    text-align: center;
    display: flex;
    flex-direction: column;
}


/* Form select buttons */
.form-button{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}
/* make order and contact buttons */
.order-button, .contact-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(to top right,var(--header-footer-dark), white,var(--header-footer-light)) ;
    height: 125px;
    width: 200px;
    cursor: pointer;
    border-radius: 30%;
    border: 2px dotted var(--header-footer-dark);
    box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.2);
}

.order-button:active, .contact-button:active {
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.2);
    transform: scale(0.9);
    background: linear-gradient(to top right, var(--header-footer-light), white, var(--header-footer-dark) );
}

.order-button:hover, .contact-button:hover {
    text-decoration: underline;
    font-size: 22px;
}


i{
    color: rgba(255, 68, 0, 0.548);
    font-size: 25px;
}
/* mobile version */

@media screen and (max-width: 525px) {
    body{
        background: aliceblue;
    }
    .front-div{
        margin: 0px ;
        padding: 0;
        padding-bottom: 100px;
    }
    .form-button{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
    }
    .order-button, .contact-button{
        border-radius: 30px;
        width: 80%;
        border: none;
        height: 75px;
    }
    .select-approach{
        font-size: 23px;
        display: flex;
        flex-direction: column;
        text-decoration: none;
    }
    .social-media{
        margin-top: 140px;
    }

}