<header  >
  <div class="header-logo">
    <a routerLink="/"><img src="../../assets/images/SSLITTLEBAKERY.png" alt=""></a>

  </div>

  <nav  [ngClass]="navbarMobile" class= 'navbar' >
    <a (click)="onResetNavbar()" aria-current="page" routerLink="/">Home</a>
    <div (mouseleave)="leaveDropdown()"  class="dropdown">
      <a aria-current="page" routerLink="/products"   (mouseenter)="onDropdown()" >Products <i  class="fa fa-caret-down"></i></a>
      <div (click)="onResetNavbar()" [ngClass]="mobileToDesktopDropdown" >
        <a routerLink="/cakes">Cakes</a>
        <a routerLink="/bagels">Bagels</a>
        <a routerLink="/pastry">Pastries</a>
      </div>
    </div>
    <a (click)="onResetNavbar()" aria-current="page" routerLink="/contact">Contacts</a>
    <a  aria-current="page"><i class="fa-solid fa-magnifying-glass" (click)="showSearch()"></i></a>
    <div *ngIf="isShown" class="search-div">
      <input [(ngModel)]="inputValue" class="search-text" type="search" placeholder="Search: lactosefree etc" aria-label="Search">
      <input (click)="search.emit(inputValue)" (click)="onHandleSubmit()"  class="search-btn" type="button" value="Search">
    </div>
  </nav>

  <!-- mobile navbar -->
  <section class="mobile-navbar">


    <div class="icon">
      <i (click)="onHamburger()" [ngClass]="animation" [class]="iconImg"></i>
    </div>
  </section>

</header>