header {
    height: 100px;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    margin-left: 30px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    color: black;
    font-weight: 700;
    text-decoration: none;
    font-size: 22px;
}

.navbar a:visited {
    color: black;
    text-decoration: none;
}


