<header>
    <div class="header-logo">
        <a routerLink="/"><img src="../../assets/images/SSLITTLEBAKERY.png" alt=""></a>
        
    </div>
    <nav class="navbar">
        <a aria-current="page" routerLink="/">Home</a>
        <div class="dropdown">
          <a aria-current="page">Products <i class="fa fa-caret-down"></i></a>
                <div class="dropdown-content" >
                  <a routerLink="/cakes">Cakes</a>
                  <a routerLink="/bagels">Bagels</a>
                  <a routerLink="/pastry">Pastry</a>
                </div>
        </div>
        <a aria-current="page" routerLink="/contact">Contacts</a>
        <a aria-current="page"><i class="fa-solid fa-magnifying-glass"></i></a>
    </nav>

    <div class="hidden-nav">
        <div id="navLinks">
            <a aria-current="page" routerLink="/">Home</a>
            <a class="dropdown" aria-current="page">Products <i class="fa fa-caret-down"></i></a>
                <div class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
            <a aria-current="page" routerLink="/contact">Contacts</a>
            <a aria-current="page"><i class="fa-solid fa-magnifying-glass"></i></a>
        </div>
        <a href="" class="icon">
          <i class="fa fa-bars"></i>
        </a>
      </div>

</header>
