main{
    position: relative;
    top: 150px;
    min-height: 95vh;
    margin-bottom: 0px;
    background-color: var(--header-footer-light);
}


@media screen  and (max-width: 525px) {
    main{
        top: 150px;

    }
    
}