<body>
    <div class="front-div">
        <div class="products-text">
            <h2>Products</h2>
            <h3>Here you can choose from different categories of products, including gluten and lactose free. I use freerange eggs and other local ingredients. If you have special requests, I will happily try my best to fulfill them. </h3>
            <h3 class="order-info">Order information</h3>
            <h3>Please place your order at least <strong class="important">3 days</strong> before the occasion.  You can pick up the products at <strong class="important">Kringli 3, Tallinn</strong>. Some products can be delivered by courier, but please ask directly for that information. To place an order or ask a question, please feel free to <a routerLink="/contact">contact</a> me. </h3>
        </div>

        <section class="form-button">
            <div class="product-button">
                <a routerLink="/cakes"> Cakes </a>
            </div>

            <div class="product-button">
                <a routerLink="/bagels"> Bagels </a>
            </div>

            <div class="product-button">
                <a routerLink="/pastry"> Pastry </a>
            </div>
        </section>
    </div>
    <app-sticky-button></app-sticky-button>
</body>
