<div class="products-text">
    <h2>Products</h2>
    <h4>You can choose different categories of products down here, including gluten and lactose free. </h4>
    <h3>Order informatsion</h3>
    <h4>Please make an order at least <strong>3 days</strong> before the occasion.  To make an order or you have any questions, please feel free to <a routerLink="/contact">contact</a> me. </h4>
</div>

<section class="form-button">
    <div class="order-button">
        <p routerLink="/cakes"> Cakes </p>
    </div>

    <div class="contact-button">
        <p routerLink="/bagels"> Bagels </p>
    </div>

    <div class="contact-button">
        <p routerLink="/pastry"> Pastry </p>
    </div>
</section>
