
    
        <section class="social-media-text">
            <p>You can also find me on social media. Don't be afraid to message me through Facebook or Instagram, if
                you have any questions or wish to place an order.
            </p>
        </section>
        <section class="social-media-icons">
            <img (click)="onFacebook()" src="../../assets//Icons/icons8-facebook-96.png" alt="Facebook icon">
            <img (click)="onInstagram()" src="../../assets/Icons/icons8-instagram-96.png" alt="Instagram icon">
        </section>
