<body>
    <div class="front-div">
        <div class="welcome-header">
            <h2>Welcome to the <br>SS Little Bakery <br> Homepage!</h2>
        </div>
        <div class="welcome-text">
            <h3>I am very happy to see you here! Baking is my passion and happy clients are the best reward for turning Your wishes into the reality. In this page you can browse and order different pastry goods. Beside regular cakes, bagels, buns  and torts, You can find products without gluten and lactose.  See <a routerLink="/cakes">products</a> or <a routerLink="/contact">contact</a> me!</h3>
         </div>

         <carousel class="image-carousel" [images]="images" [cellsToShow]="4" [loop]="true" [autoplay]="true"
         [autoplayInterval]="3000"></carousel>

        <div class="feedback-div">
            <carousel class="text-carousel" [cellsToShow]="1"  [loop]="true" [autoplay]="true"
            [autoplayInterval]="3000">
               <div *ngFor="let feedback of feedbacks">
                <i class="fa-solid fa-quote-left"></i>
                <h4>{{feedback.content}}</h4>
                <h4> - {{feedback.name}}</h4>
               </div> 
            </carousel>
        </div>
        
    </div>
</body>
