<body>
    <div class="front-div">
        <div class="welcome-header">
            <h2>Welcome to the <br>SS Little Bakery <br> Homepage!</h2>
        </div>

        <div class="welcome-text">
            <h3>I am very happy to see you here! Baking is my passion and happy clients are the best reward for turning Your wishes into reality. On this page you can browse and order different pastries. Beside regular cakes, bagels, buns  and tarts, You can find gluten and lactose free products.  See <a routerLink="/products">products</a> or <a routerLink="/contact">contact</a> me!</h3>
        </div>

        <carousel class="image-carousel" [images]="images" [cellsToShow]="4" [cellWidth]="50" [loop]="true" [autoplay]="true"
        [autoplayInterval]="3000" [pauseOnHover]="true" objectFit="contain"  [arrowsOutside]="true" [borderRadius]="15"></carousel>

        <app-feedback></app-feedback>
    </div>
    <app-sticky-button></app-sticky-button>
</body>
