body {
    background: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)), url(../../assets/images/Background-cakes-color.png);
    position: relative;
    top: 0px;
    min-height: 100vh;
    margin-bottom: 0px;
}

.front-div {
    background-color: var(--header-footer-light);
    min-height: 100vh;
    margin: 0px 200px 0 200px;
    padding: 20px 70px 150px 70px;
    text-align: center;
    font-family: var(--font-family);
}

.welcome-header {
    padding: 50px;
    font-size: xx-large;
}

.welcome-text {
    line-height: 50px;
    font-size: x-large;
}

.welcome-text a {
    color: var(--header-footer-dark);
}

.image-carousel{
    margin-top: 80px;
    z-index: 0;
}

.tablet-carousel{
    display: none;
}

.mobile-carousel{
    display: none;
}

/* tablet version */

@media screen and (max-width: 768px) {
    .front-div {
        margin: 0px 100px 0 100px;
    }
    
    .welcome-text a {
        color: var(--header-footer-dark);
    }
    
    .image-carousel{
    display: none;
    }

    .tablet-carousel{
        display: block;
        margin-top: 50px;
        z-index: 0;
    }
    
    .mobile-carousel{
        display: none;
    }
}

/* mobile version */

@media screen and (max-width: 525px) {
    body{
        background: none;
    }
    
    .front-div{
        width: 100vw;
        margin: 0px ;
        padding-bottom: 100px;
        background: var(--header-footer-light);
    }

    .welcome-header {
        padding: 10px;
        font-size: large;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .welcome-text {
        line-height: 30px;
        font-size: medium;
    }

    .image-carousel{
        display: none;
    }

    .tablet-carousel{
        display: none;
    }

    .mobile-carousel{
        display: block;
        margin-top: 50px;
        z-index: 0;
    }
}

