<body>
    <section class="contact-inputs">
        <section class="inputs">
            <p class="name"></p>
            <input type="text" name="Name" required>
            <p class="email"></p>
            <input type="email" name="email" id="" required>
            <p class="number"></p>
            <input type="tel" name="mobilenumber" id="">
        </section>
        <section>
            <p class="additional"></p>
            <textarea name="" id="" cols="30" rows="10" wrap="soft" required></textarea>
        </section>
        <div class="submit-button"> Send</div>
    </section>
</body>