body{
    height: 500px;
    width: 600px;
    box-shadow: 2px 2px 40px 5px rgb(190, 177, 184); ;
    border-radius: 20px;
}
body::before{
    display: flex;
    justify-content: center;
    content: 'Form for Your feedback or questions';
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: underline;
    margin-bottom: 20px;
}

.contact-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    height: 30px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid rgb(171, 147, 147);
}
textarea:hover, input:not(.submit-button):hover{
    cursor: pointer;
    border: 1px solid rgba(130, 193, 216, 0.6);
}

input:not(.submit-button):focus{
    border: none;
    outline: 2px solid rgb(130, 193, 216);
}
textarea{
    margin: 0;
    border-radius: 10px;
    width: 350px;
    border: 1px solid rgb(171, 147, 147)
}

p::after {
    display: block;
    color: black;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;
    top: 2px;
    left: 10px;
    background-color: white;
}
p.name::after{
    content: 'Name*';
    width: 50px;
    
}
p.email::after{
    content: 'Email*';
    width: 50px;
}
p.number::after{
    content: 'Number';
    width: 71px;
}
p.additional::after{
    content: 'Feedback/questions*';
    width: 175px;
}
.buttonClass{
    height: 170px
}

.submit-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255, 1),rgba(207, 157, 182, 1));
    height: 40px;
    min-width: 50px;
    border-radius: 10px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 20px;
}
.submit-button:hover {
    cursor: pointer;
}
.submit-button:active{
   transform: scale(0.9);
}

@keyframes hideMe {
    from {
        opacity: 1.0;
        visibility: visible;
    }
    to {
        opacity: 0.0;
        visibility: hidden;
        
    }
}
.hidden {
    animation-name: hideMe;
    animation-duration: 1s;
    visibility: hidden;
    animation-timing-function: ease-in;
}

@keyframes resultShow {
    from{
        opacity: 0;
    }
    to{
        opacity: 1.0;
}
}
.success-result {
    text-align: center;
    padding: 15px;
    height: 200px;
    animation-name: resultShow;
    animation-duration: 2s;
    position:relative;
    bottom: 50%;
    background-color: rgb(235, 235, 235, 0.662);
    border-radius: 10px;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    font-weight: 500;
}


.fa-solid {
    margin-top: 20px;
    color: rgb(29, 226, 29);
    font-size: 50px;
}

.inputError{
    display: flex;
    flex-direction: row;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    margin-top: 5px;
}