footer {
    background-color: blanchedalmond;
    min-height: 150px;
}

.footer-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;;
}

.footer-contact {
    text-align: center;
}

.social-media {
    text-align: center;
}

.social-media i {
    padding: 5px;
}

.footer-copyright {
    text-align: center;
    padding-bottom: 20px;
}