<footer>
    <div class="footer-main">
        <div class="footer-contact">
            <h3>SS Little Bakery</h3>
            <h4>Kringli 3, Tallinn </h4>
        </div>
        <div class="social-media">
            <a (click)="onFacebook()"><i class="fa-brands fa-facebook"></i>Facebook</a>
            <a (click)="onInstagram()"><i class="fa-brands fa-instagram"></i>Instagram</a>
        </div>
    </div>
    
    <div class="footer-copyright">
        All pictures and content of this page is owned by SS Little Bakery. All rights reserved © 2022
    </div>
    
</footer>
