<footer>
    <div class="footer-main">
        <div class="footer-contact">
            <h3>BAKERY NAME</h3>
            <h4>AADRESS </h4>
        </div>
        <div class="social-media">
            <p><i class="fa-brands fa-facebook"></i>Facebook</p>
            <p><i class="fa-brands fa-instagram"></i>Instagram</p>
        </div>
    </div>
    
    <div class="footer-copyright">
        All pictures and content of this page is owned by BAKERY NAME. All rights reserved © 2022
    </div>
    
</footer>
